#result {
    color: var(--textColor);
    padding: 20px;
    
}

.info {
    position: relative;
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 20px;
    margin-top: 1.2em;
}


.poster {
    border-radius: 36px;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.06em;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6em;
    margin: 0.6em 0 0.9em 0;
}

.rating img {
    width: 1.2em;
}

.rating h4 {
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
}

.details {
    display: flex;
    font-size: 0.95em;
    gap: 1em;
    justify-content: center;
    color: #a0a0a0;
    margin: 0.6em 0;
    font-weight: 300;
}

.genre {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.genre div {
    border: 1px solid #a0a0a0;
    font-size: 0.75em;
    padding: 0.4em 1.6em;
    border-radius: 0.4em;
    font-weight: 300;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h3 {
    font-weight: 500;
    margin-top: 1.2em;
}

.content p {
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.8em;
    text-align: justify;
    color: #a0a0a0;
    max-width: 300px;
}

.msg {
    text-align: center;
}